@page "/home2"
@inject IJSRuntime JsRuntime
@inject SnakeService _snakeService

<!-- wrapper -->
<div id="wrapper">
    <!-- content-holder -->
    <div class="content-holder">
        <!-- hero-carousel-wrapper -->
        <div class="hero-carousel-wrapper hfs_wrap">
            <div class="fs-slider fw-carousel2 lightgallery fw-carousel_hight full-height fs-anim-t" data-mousecontrol2="true">
                <div class="swiper-container  ">
                    <div class="swiper-wrapper">
                      
                    </div>
                </div>
            </div>
            <div class="ccsw   fwc_btn fwc_btn2 fwc_btn_prev ccsw-prev">
                <i class="fal fa-angle-left"></i>
            </div>
            <div class="ccsw   fwc_btn fwc_btn2 fwc_btn_next ccsw-next">
                <i class="fal fa-angle-right"></i>
            </div>
        </div>
        <!-- fixed-bottom-container -->
        <div class="fixed-bottom-container hid-mob">
            <div class="scroll-down-wrap">
                <div class="mousey">
                    <div class="scroller"></div>
                </div>
            </div>
            <div class="hero-slider-wrap_pagination-wrap">
                <div class="hero-slider-wrap_pagination hero-slider-pag"></div>
            </div>
            <div class="fw-carousel_number_wrap">
                <div class="fw-carousel_contr_counter current">01</div>
                <div class="fw-carousel_contr_counter total"></div>
            </div>
        </div>
        <!-- fixed-bottom-container end -->
    </div>
    <!-- content-holder end -->
</div>
<!-- wrapper end -->