@inherits LayoutComponentBase

<!--loader-->
<div class="main-loader">
    <div class="ml-wrap">
        <div class="ml-mask"></div>
        <img src="favicon.png" alt="">
    </div>
</div>
<!--loader end-->
<!--  main start  -->
<div id="main">
    <!--  header main-header  -->
    <header class="main-header">
        <div class="main-inner">
            <!--logo-->
            <NavLink href="" class="logo-holder"><img src="favicon.png" alt=""></NavLink>
            <!--logo end-->
            <!-- sb-button-->
            <div class="sb-button c_sb"><span></span></div>
            <!-- sb-button end-->
            <!-- mobile nav -->
            <div class="nav-button-wrap">
                <div class="nav-button"><span></span><span></span><span></span></div>
            </div>
            <!-- mobile nav end-->
        </div>
    </header>
    <!-- Header   end-->
    @Body
    <!-- sidebar-->
    <div class="sidebar-wrap">
        <div class="sidebar-wrap-container">
            <!-- sb-widget-wrap-->
            <div class="sb-widget-wrap fl-wrap">
                <h3>Latest Works</h3>
                <div class="sb-widget  fl-wrap">
                    <div class="categories_widget-wrap">
                        <!-- categories_widget_item-->
                        <a class="categories_widget_item" href="portfolio-single.html">
                            <div class="categories_widget_item_img">
                                <img src="theme/images/folio/14.jpg" class="respimg" alt="">
                            </div>
                            <span class="categories_widget_title">Crazy, Cute Couple</span>
                        </a>
                        <!-- categories_widget_item end-->
                        <!-- categories_widget_item-->
                        <a class="categories_widget_item" href="portfolio-single.html">
                            <div class="categories_widget_item_img">
                                <img src="theme/images/folio/15.jpg" class="respimg" alt="">
                            </div>
                            <span class="categories_widget_title">Alone on Nature</span>
                        </a>
                        <!-- categories_widget_item end-->
                        <!-- categories_widget_item-->
                        <a class="categories_widget_item" href="portfolio-single.html">
                            <div class="categories_widget_item_img">
                                <img src="theme/images/folio/16.jpg" class="respimg" alt="">
                            </div>
                            <span class="categories_widget_title">Living in my dream</span>
                        </a>
                        <!-- categories_widget_item end-->
                        <!-- categories_widget_item-->
                        <a class="categories_widget_item" href="portfolio-single.html">
                            <div class="categories_widget_item_img">
                                <img src="theme/images/folio/17.jpg" class="respimg" alt="">
                            </div>
                            <span class="categories_widget_title">Sunny Side Up</span>
                        </a>
                        <!-- categories_widget_item end-->
                    </div>
                </div>
            </div>
            <!-- sb-widget-wrap end-->
            <!-- sb-widget-wrap-->
            <div class="sb-widget-wrap fl-wrap">
                <h3>Subscribe To  Newsletter</h3>
                <div class="sb-widget  fl-wrap">
                    <p>Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet,  </p>
                    <div class="subcribe-form fl-wrap">
                        <form id="subscribe">
                            <input class="enteremail" name="email" id="subscribe-email" placeholder="Your Email" spellcheck="false" type="text">
                            <button type="submit" id="subscribe-button" class="subscribe-button">Submit</button>
                            <label for="subscribe-email" class="subscribe-message"></label>
                        </form>
                    </div>
                </div>
            </div>
            <!-- sb-widget-wrap end-->
            <!-- sb-widget-wrap-->
            <div class="sb-widget-wrap fl-wrap">
                <h3>Social Links</h3>
                <div class="sb-widget    fl-wrap">
                    <div class="sidebar-social fl-wrap">
                        <ul>
                            <li><a href="#" target="_blank">Fb</a></li>
                            <li><a href="#" target="_blank">Tw</a></li>
                            <li><a href="#" target="_blank">Ins</a></li>
                            <li><a href="#" target="_blank">Tic</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- sb-widget-wrap end-->
        </div>
    </div>
    <div class="sb-overlay"></div>
    <!-- sidebar end-->
</div>
<!-- Main end -->